@inherits LayoutComponentBase

<PageTitle>O224219</PageTitle>

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/Logo.png" />

</head>

<NavMenu />

<!-- Main Content -->
<main class="container mt-4 mb-5">
    @Body
</main>

<style>
    body {
        background: linear-gradient(90deg, #000000 0%, #1a1a1a 50%, #2c2c2c 100%);
    }

    main.container {
        background: #fff;
        color: #000;
        border-radius: 10px;
        padding: 30px;
        max-width: 1000px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
</style>
